.container h1{
    color: white;
    font-weight: 600;
    font-size: 60px;
}

.certificate-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.certificates img{
    width:50%;
    cursor: pointer;
}